html, body {
  display: flex;
  height: 100%;
  width: 100%;
  background: #f0eddd;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  height: 100%;
  background: #ffffff;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

#titleWrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 75vw;
  height: 50px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 0, 0, 10px, 0;
  margin: 0 auto;
}

#title {
  display: block;
  position: relative;
  top: 0px;
  font-family: "EB Garamond";
  color: #a9ffdd;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.41);
}

#linkContent {
  position: relative;
  max-width: 600px;
  max-height: 400px;
  text-align: center;
  background: #f0eddd;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 3px -3px #000000; 
  box-shadow: 3px 3px 3px -3px #000000;
  padding: 20px;
  margin: 20px auto 20px auto;
}

#zeldaLink {
  display: block;
  max-width: 400px;
  max-height: 250px;
  margin: 0 auto;
}

#zeldaImg {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#textContent {
  display: block;
  width: 800px;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 10px;
}

.mainParas {
  text-indent: 10px;
  padding-left: 20px;
}

#mainUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 100px;
}

.listItem {
  width: 250px;
  height: 100px;
  background: #a9ffdd;
  list-style-type: none;
  -webkit-box-shadow: 3px 3px 3px -3px #000000; 
  box-shadow: 3px 3px 3px -3px #000000;
  padding: 10px;
}

.liLink {
  text-decoration: none;
  color: #000000;
}
